body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #008080;
    color: #fff;
    padding: 20px;
    text-align: center;
}

article {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #008080;
    margin-top: 20px;
}
