body {
    font-family: 'Helvetica', sans-serif;
    background-color: #eef2f3;
    color: #333;
}

header {
    background-color: #ff6347;
    color: #fff;
    padding: 20px;
    text-align: center;
}

article {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff6347;
}
